{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe  - La boutique Marocaine
{% endblock %}

{% block content %}
	<h1>Modifier mon mot de passe
	</h1>
	<hr>
	-
	<a href="{{ path('account') }}">
		Retourner à mon compte
	</a>
	<hr>
	{% if success %}
		<div class="alert alert-success">{{ success }}</div>
	{% endif %}
	{% if fail %}
		<div class="alert alert-danger">{{ fail }}</div>
	{% endif %}
	<hr>

	{{ form(form) }}{% endblock %}
